<!DOCTYPE HTML>

<html>
	<head>
		<title>Join Community</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./assets/css/stylecommunity.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="profilepage.html"  class="image avatar"><img src="./assets/img/profilepic.jpeg" alt="Profile" /></a>
					<h1><strong>User123</strong></br> </br></h1>
					<h2>------About the User------</h2>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>Your Ride Communities</h2>
						</header>
						<p>Here you can get in touch with new people and make friends.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Communities</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="communitychat.html" class="image fit thumb"><img src="./assets/img/lamboone.jpg" alt="" /></a>
								<h3>Community 1</h3>
								<p>The Details and Interests of this Community</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="" class="image fit thumb"><img src="./assets/img/lambo2.jpg" alt="" /></a>
								<h3>Community 2</h3>
								<p>The Details and Interests of this Community</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="" class="image fit thumb"><img src="./assets/img/lambo3.jpg" alt="" /></a>
								<h3>Community 3</h3>
								<p>The Details and Interests of this Community</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="" class="image fit thumb"><img src="./assets/img/lambofour.jpg" alt="" /></a>
								<h3>Community 4</h3>
								<p>The Details and Interests of this Community</p>
							</article>

						<ul class="actions">
							<li><a href="#" class="button">Other Communities</a></li>
						</ul>
					</section>
	</body>
</html>